<body style="background-color: white; " onload="homeLoaded()">
    <section id="navbar-home">
        <nav class="navbar navbar-expand-lg fixed-top  navigation-bar">
            <div class="container">
                <a class="navbar-brand" href="#">User</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><svg style="color: white;" xmlns="http://www.w3.org/2000/svg"
                            width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item ms-5">
                            <a style="cursor: pointer;" class="nav-link active" aria-current="page"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="edit-user" user-id = <%= user._id %>>Edit</a>
                        </li>

                        <li class="nav-item ms-5">
                            <form action="/logout/user" method="get">
                                <input type="submit"
                                    style="cursor: pointer; background-color: transparent; border: none;"
                                    class="nav-link active" tabindex="-1" aria-disabled="true" value="Logout">
                            </form>
                        </li>

                        <li style="visibility: hidden;" class="nav-item ms-5">
                            <a style="cursor: pointer;" class="nav-link active" aria-current="page"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="edit-user" user-id = <%= user._id %>>Edit</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </section>