<section id="navbar">
  <nav class="py-2 border-bottom fixed-top navigation-bar">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <a class="navbar-brand" href="#">The Moon</a>
      </ul>
    </div>
  </nav>
</section>