<%- include('../partials/header') %>

  <body style="background-color: white;" onload="onloadUser()"></body>
  <%- include('../partials/navbar') %>

    <div class="container center-card">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 img-div">
          <img src="/images/pic1.jpg" alt="">
        </div>
        <div id="signin" class="col-sm-12 col-md-12 col-lg-6 col-xl-6 cards">


          <div class="title">
            <h1>User</h1>
            <div class="select-user">
              <p>Sign-In your account</p>
              <!-- <p style="color: blue;" class="p" id="getAdmin">Admin?</p> -->
            </div>
          </div>

          <form id="signin-form" name="signin-form" action="/signin" method="post">
            <div class="form">
              <div class="email">
                <input type="email" name="email" placeholder="Email Id" id="signin-email"
                  autocomplete="off" required> <br>
                <span id="signin-error" style="color: red;" class="material-symbols-outlined"></span>
              </div>

              <div class="password">
                <input type="password" class="password" name="password" placeholder="Password" id="signin-password"
                  autocomplete="off" maxlength="16" minlength="8" required> <br>
                <span id="password-error" style="color: red;" class="material-symbols-outlined"></span>
                <span onclick="changeSignIn()" id="visibility" class="material-symbols-outlined">visibility_off</span>
              </div>

              <input type="submit" value="Sign-In" class="btn-signin">
              <br>
              <p>Don't Have An Account?&nbsp<a style="color: blue; cursor: pointer;" id="create" href="/signup/user">Sign-Up</a></p>
            </div>
          </form>

        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>